section{
    height: 94vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, black, rgb(0, 3, 43));
    color: white;
    overflow-y: hidden;
}